.container{
  overflow: hidden;
}
.box{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    &:nth-child(2n){
      background-color: royalblue;
    }
  }
  & > .page{
    // 父
    & .pages{
      // 子
    }
  }
}